.key-box {
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    transition: .2s ease-in-out;

}

.snake-wrap {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 50px auto;
    background-color: #000;
    overflow: hidden;
}

.round {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
    transition: .3s ease-in-out;
    text-align: center;
}


.head {
    background-color: orange;
    transition: .3s ease-in-out;
}

.food {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(246, 151, 19);
    transition: .3s ease-in-out;
}