.main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    min-height: 100vh;
    border-bottom: 1px solid #000;
    row-gap: 20px;


    &-left {
        padding: 24px;
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        .article {
            box-sizing: border-box;
            padding: 20px;
            border-radius: 20px;

            background-color: #898787;
            width: 100%;
            height: 276px;
            border-bottom: 1px solid $main-border;
            background: rgba(225, 224, 224, 0.8);
            backdrop-filter: saturate(180%) blur(10px);
            -webkit-backdrop-filter: blur(10px);

            .at {
                height: 10%;
            }

            .am {
                height: 90%;
                display: flex;

                .amt {
                    flex: 3;
                }

                .ami {

                    flex: 1;
                    margin-left: 60px;
                }
            }
        }

    }

    &-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 328px;
        border-left: 1px solid $main-border;
    }
}