<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <iframe src="https:www.baidu.com" id="myIframe"></iframe>

    <button id="fetch">获取</button>

    <script>

        let btn = document.getElementById('fetch')


        var xhr

        if (window.XMLHttpRequest) {
            xhr = new XMLHttpRequest();

        } else {
            xhr = new ActiveXObject('Microsoft.XMLHTTP')
        }

        addEvent(btn, 'click', function () {
            xhr.open('GET', 'http://localhost/dashboard/', true)
            xhr.send()
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.reponseText);
                }
            }
            console.log(xhr);

        })

        function addEvent(elem, event, fn) {
            if (elem.addEventListener) {
                elem.addEventListener(event, fn, false);
            } else if (elem.attachEvent) {
                elem.attachEvent("on" + event, function () {
                    FileSystemHandle.call(el);
                });
            } else {
                elem["on" + event] = fn;
            }
        }
    </script>
</body>

</html>