<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="f-wrap">
        <aside class="aside-wrap">
            <ul class="nav-list">
                <li class="nav-item"><a href="https://www.jd.com" target="navIframe" class="nav-lk"></a></li>
                <li class="nav-item"><a href="https://www.taobao.com" target="navIframe" class="nav-lk"></a></li>
                <li class="nav-item"><a href="https://www.tmall.com" target="navIframe" class="nav-lk"></a></li>
                <li class="nav-item"><a href="https://m.pinduoduo.com" target="navIframe" class="nav-lk"></a></li>
                <li class="nav-item"><a href="https://www.jd.com" target="navIframe" class="nav-lk"></a></li>
                <li class="nav-item"><a href="https://www.jd.com" target="navIframe" class="nav-lk"></a></li>
            </ul>
            <section class="frame-wrap">
                <iframe src="https://www.tmall.com" name="navIframe"></iframe>
            </section>
        </aside>
    </div>
</body>

</html>