.main{
    display: flex;
    max-width: 1336px;
   min-height: 1000px;
    border-bottom: 1px solid #000;

    &-left{
        min-width: 728px;
        max-width: 728px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
    }

    &-right{
        border-left: 1px solid $main-border;
    }
}